*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase & Services
app/google-services.json
backend/your-firebase-service-account.json

# Credentials & Environment
.env
backend/.env
node_modules/
backend/node_modules/
