<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vocab2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vocab2"
        android:supportsRtl="true"
        android:theme="@style/Theme.VocabMaster"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".data.model.IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" />
        <activity android:name=".ui.auth.VerifyEmailActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="vocabmaster" android:host="payment-success" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.study.StudyActivity" />
        <activity android:name=".ui.study.MiniGameActivity" />
        <activity android:name=".ui.study.StudySummaryActivity" />
        <activity android:name=".ui.analytics.AnalyticsActivity" />
        <activity android:name=".ui.library.CourseDetailActivity" />
        <activity android:name=".ui.library.PersonalCardsActivity" />
        <activity android:name=".ui.library.CreateFlashcardActivity" />
        <activity android:name=".ui.home.CreateCourseFlowActivity" />
        <activity android:name=".ui.home.JourneySetupActivity" />
        <activity android:name=".ui.home.TopicWordListActivity" />
        <activity android:name=".ui.home.PlacementTestActivity" />
        <activity android:name=".ui.home.AllTopicsActivity" />
        <activity android:name=".ui.home.CreateTopicActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
